@font-face{font-family:'icomoon';src:url("fonts/icomoon.eot");src:url("fonts/icomoon.eot?#iefix") format('embedded-opentype'),url("fonts/icomoon.woff") format('woff'),url("fonts/icomoon.ttf") format('truetype'),url("fonts/icomoon.svg#icomoon") format('svg');font-weight:normal;font-style:normal}
a{color:#000;text-decoration:none}
body{background-color:#db4935;font-family:'Varela',Helvetica;font-size:16px;margin:0;padding:0}
header{background-color:#008fd5;position:relative}
header h1{font-family:"Electrolize",Helvetica;margin:0;paddin:2em;text-align:center}
section{padding-top:10%;text-align:center}
select{border:0;box-shadow:0 3px 0 #ccc,0 -1px #fff inset;font-size:1em;height:40px;width:118px}
footer{bottom:0}
footer,nav{background:#ebb035;position:fixed;width:100%}
nav{display:none}
ul{text-align:center}
li{display:inline-block;margin-right:1em;text-align:center}
.calc{display:inline-block;padding-bottom:1em}
.calc h3{font-family:'Patrick Hand SC';font-size:1.7em;padding-right:10px}
.entvalor{display:inline-block;padding-top:2em}
.entvalor h3{padding-left:10px;margin:0}
.entvalor div{display:inline-block}
.entvalor h3,select{margin-right:1em}
.uno{margin-right:1em}
.git:before{content:"\e601";font-family:'icomoon';font-size:2em}
.twit:before{content:"\e600";font-family:'icomoon';font-size:2em}
.menu{background-color:#fec56b;border-bottom-color:#333;border:1px solid #61c4ea;border-radius:50%;box-shadow:rgba(0,0,0,0.2) 0 1px 0 0;height:3em;padding:.4em;position:absolute;text-shadow:#b2e2f5 0 1px 0;width:4em;-moz-border-radius:5px;-webkit-border-radius:5px;-webkit-box-shadow:rgba(0,0,0,0.2) 0 1px 0 0;-moz-box-shadow:rgba(0,0,0,0.2) 0 1px 0 0}
.mail:before{content:"\e602";font-family:'icomoon';font-size:2em}
.git:hover{font-size:.8em;transition:all .5s ease}
.twit:hover{font-size:.8em;transition:all .5s ease}
.mail:hover{font-size:.8em;transition:all .5s ease}
@media screen and (max-width: 1000px){footer{display:none}
nav ul{margin-left:-10%;}
nav ul li{font-size:.7em}
.calc{border-bottom:1px solid #fff}
}@media screen and (min-width: 1000px){.calc{border-right:1px solid #fff}
.menu{display:none}
}